<h1>欲しいものリスト</h1>

<table>
  <tr>
    <th>名前</th>
    <th>値段</th>
    <th>説明</th>
    <th>&nbsp;</th>
  </tr>

<% @wishes.each do |wish| %>
  <tr>
    <td><%= link_to wish.name, wish%></td>
    <td><%= wish.price %></td>
    <td><%= link_to '削除', wish, :confirm => '削除してもよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

