    <div id="header">
      <h1>nihonchaプロジェクト</h1>
    </div><!-- header end -->
    <% if current_user %>
    <div id="menu">
      <ul>
        <li><%= link_to '欲しいもの', wishes_path %></li>
        <li><%= link_to 'おこづかい帳', cashes_path %></li>
        <li><a href="sample.html">MENU3</a></li>
        <li><a href="sample.html">MENU4</a></li>
      </ul>
    </div><!-- menu end -->
    <% end %>
    <div id="navi">
      <ul>
        <li><%= link_to(
          'Sign out',
          [ :destroy, current_user, :session ],
          :class => 'signOut'
          ) if current_user %>
        </li>
        <li><a href="#">navi2</a></li>
      </ul>
    </div><!-- navi end -->
