<h2>minami.rb nihonchaプロジェクト</h2>
<p><%= link_to 'ログイン', [ :new, :user_session ] %></p>
<p><%= link_to 'ユーザ登録', [ :new, :user_registration ] %></p>
<p><%= link_to 'パスワード再発行', [ :new, :user_registration ] %></p>
<p><%= link_to '登録確認メール再送信', [ :new, :user_confirmation ] %></p>
