<div id="contents">
  <div id="main">
    <h2>H2</h2>
    <h3>H3</h3>
    <p>pppppppppp
    </p>
    <h3>1カラムタイプへのリンク</h3>
    <p>
      1カラムタイプもご用意しました。<br />
      <a href="1column.html">サンプルページはこちらから</a>
    </p>
  </div><!-- main end -->
  <div id="sub">
    <h2>更新履歴</h2>
    <h3>H3</h3>
    <p>
      ここには更新履歴とかお書きください。<br />
    </p>
    <dl>
      <dt>2006/11/19</dt>
      <dd> サイトリニューアル</dd>
      <dt>2006/11/19</dt>
      <dd> サイトリニューアル</dd>
      <dt>2006/11/19</dt>
      <dd> サイトリニューアル</dd>
    </dl>
  </div><!-- sub end -->
</div><!-- contents end -->
